@CHARSET "UTF-8";

.btn-round{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	padding-left: 10px;
}
.fieldset-buttons{
	margin-bottom: 10px;
}
form > fieldset > fieldset {
	border-bottom: 1px dashed lightgrey;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.ui-widget{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}