<?php echo $this->form()->openTag($form) ?>
    <div class="auth-form change-password">
        <?php foreach ($form as $element): ?>
            
            <div class="elements-group site-enter-<?= $element->getName(); ?>">
                
                <?php if ($element->getLabel() != null && !$element instanceof Zend\Form\Element\Button): ?>
                    <?=$this->formLabel($element) ?>
                <?php endif ?>
                
                <?= $this->formElement($element) . $this->formElementErrors($element, array('class' => 'error-input-value')) ?>
            </div>
        <?php endforeach ?>
    </div>
<?php if ($this->redirect): ?>
    <input type="hidden" name="redirect" value="<?php echo $this->redirect ?>">
<?php endif ?>
<?php echo $this->form()->closeTag() ?>