<?php
$partner = false;
if (in_array('register-partner', explode('/', $this->routeName()))) {
    $partner = true;
}
?>

<div class="content">
    <h1 class="page-title">
        <a href="<?php echo $this->url('localization', ['lang' => $this->lang()]); ?>">Home</a>
    </h1>
    <?php if (!$partner) : ?>
        <h3 class="enter-title">
        <span class="text">
            <?php echo $this->translate('Register with Facebook'); ?>
        </span>
        </h3>
    <?php endif; ?>
    <?php
    if (!$this->enableRegistration) {
        echo $this->translate('Registration is disabled');
        
        return;
    }
    /** @var \ZfcUserMod\Form\Register $form */
    $form = $this->registerForm;
    $form->prepare();
    $form->setAttribute(
        'action',
        $this->url(
            'zfcuser/register',
            ['lang' => $this->lang()]
        )
    );
    $form->setAttribute('method', 'post');
    
    $form->setAttribute('class', 'auth-form');
    $form->setAttribute('autocomplete', 'off');
    echo $this->form()->openTag($form);
    ?>
    <?php if (!$partner) : ?>
        <a href="<?php echo $this->url("scn-social-auth-user/login/provider", [
                'lang' => $this->lang(),
                'provider' => 'facebook'
        ]); ?>" class="fb-link-wrap">
            <span class="text"><?php echo $this->translate('Login with facebook'); ?></span>
        </a>
    <?php endif; ?>
    <h3 class="enter-title"><span class="text"><?php echo $this->translate('Register with Email'); ?></span></h3>

    <div class="elements-group">
        <?php
        $accountType = $form->get('account_type');
        if ($partner) {
            $accountType->setAttribute('value', 'user-partner');
        }
        echo $this->formRow($accountType);
        ?>
        <?php
        $emailElement = $form->get('email');
        $emailElement->setAttribute('class', 'form-element');
        $emailElement->setLabel('');
        $emailElement->setAttribute('placeholder', $this->translate('Email'));
        echo $this->formRow($emailElement);
        ?>
        <?php
        $passwordElement = $form->get('password');
        $passwordElement->setAttribute('class', 'form-element');
        $passwordElement->setLabel('');
        $passwordElement->setAttribute('placeholder', $this->translate('Password'));
        echo $this->formRow($passwordElement);
        ?>
        <?php
        $passwordVerify = $form->get('passwordVerify');
        $passwordVerify->setAttribute('class', 'form-element');
        $passwordVerify->setLabel('');
        $passwordVerify->setAttribute('placeholder', $this->translate('Password Verify'));
        echo $this->formRow($passwordVerify);
        ?>
    </div>
    <?php
    $submit = $form->get('submit');
    $submit->setAttribute('class', 'submit-btn');
    echo $this->formRow($submit);
    ?>
    <?php //echo $this->partial('_form.phtml', ['form' => $form]); ?>

</div>