<table>
    <tr ng-repeat="(mail, statuses) in $ctrl.employees">
        <td>
            <div style="margin-right: 20px; padding-top: 5px">
                <div class="btn-group">
                    <button type="button" class="btn {{$ctrl.statuses[mail]}}">{{mail}}</button>
                    <button type="button" class="btn {{$ctrl.statuses[mail]}} dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Меню с переключением</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">{{$ctrl.translates.allStatus}}</a></li>
                        <li class="divider"></li>
                        <li ng-repeat="(date, status) in statuses" ><a href="#">{{date + ' : ' + $ctrl.translates[status]}}</a></li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
</table>