.panel-info>.panel-heading {
	background: #62bbb5;
	color: #fff;
}

.panel-info {
    border-color: #62bbb5;
}

.btn-info {
	background: #62bbb5;
	border: 1px solid #62bbb5;
	font: 16px "Helvetica Neue", sans-serif;
	text-shadow: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.btn-info:focus, .btn-info:hover {
	background: #fbe5d6;
	color: #333;
	border: 1px solid #fbe5d6;
	outline: none;
	text-shadow: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.map-wrapper {
	display: block;
	height: 230px;
}

.map {
	height: 100%;
}

.user-photo {
	display: block;
	height: 100px;
	max-width: 100%;
	background-color: #eee;
	background-position: center;
	background-repeat: no-repeat;
	-moz-background-size: 100%;
	  -o-background-size: 100%;
	     background-size: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-moz-background-size: cover;
	  -o-background-size: cover;
	     background-size: cover;
}


.btn-info.active.focus, 
.btn-info.active:focus, 
.btn-info.active:hover, 
.btn-info:active.focus, 
.btn-info:active:focus, 
.btn-info:active:hover, 
.open>.dropdown-toggle.btn-info.focus, 
.open>.dropdown-toggle.btn-info:focus, 
.open>.dropdown-toggle.btn-info:hover {
	background: #fbe5d6;
	color: #333;
	border: 1px solid #fbe5d6;
	outline: none;
}

/* styling */

.panel-body-style p {
	min-height: 45px;
}



