.contacts-wrapper {
    width: 100%;
}

.input-title {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.form-group label {
    background: #fff;
    font: bold 100% Cambria, Georgia, serif;
    padding: 0 20px;
}

.form-group :not(.transport-type) label::before {
    border-top: 1px solid #949498;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: -1;
}

.form-group {
    margin-bottom: 20px;
    font: normal 100% Cambria, Georgia, serif;
    font-size: 16px;
}

.form-group textarea {
    resize: none;
    width: 100%;
    font: normal 100% Cambria, Georgia, serif;
    font-size: 16px;
    padding: 15.5px 12px;
}

.form-group input {
    font: normal 100% Cambria, Georgia, serif;
    padding: 15.5px 12px;
    height: auto !important;
    width: 100%;
    color: #000;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 5px 0 #71d8ea;
    border: 2px solid #1fbad6 !important;
}

.form-holder {
    max-width: 400px;
    margin: 0 auto 40px;
}

.form-holder-userToCompany {
    max-width: 800px;
}

.input-group button, .userToCompany-extend-btn {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    border: none;
    margin: 0;
    cursor: pointer;
    overflow: visible;
    padding: 16px 23px;
    margin-bottom: 15px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #62BBB5;
    border: 1px solid #62BBB5;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-image: none !important;
}

.input-group button:hover,
.userToCompany-extend-btn:hover {
    background-color: #fbe5d6;
    border-color: #fbe5d6;
    color: #000;
}

.form-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}

.contacts-info-bold {
    font-weight: bold;
    font-size: 18px;
}