body {
    /*padding-top: 60px;*/
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#70d900), to(#57a900));
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

/*upload file*/
.upload-file{
    display: inline-block;
    vertical-align:middle;
}
.progress{
    display: inline-block;
    width: 60% !important;
    margin-bottom: 0 !important;
    /*height:8px !important;*/
}

/*END:upload file*/

/*Calc*/
.cargo-particular{
    position: relative;
}
.show-cargo-particular{
    max-width: 155px;
    margin-bottom: 15px;
}
.show-cargo-particular:hover{
    cursor: pointer;
}
.drop-particular{
    position: absolute;
    top:0;
    left:80px;
    width: 100%;
    background: #fff;
    z-index:100;
    padding:10px;
    max-height: 600px;
    overflow: auto;
}
.cargo-particular-hiden>ul{
    display: none;
}

cargo-particular-show {
    display: block;
}
.add-item-position{
    float: right;
}
.LCLfields{
    margin-top: 5px;
}
.selected-particulars .clear{
    color: red;
    cursor: pointer;
    margin-left: 10px;
}
.add-item-position:hover{
    cursor: pointer;
}
.selected-imp{
    line-height: 18px;
    margin-right: 10px;
}
.selected-particulars-limit-msg, .incoterms-info-message{
    text-decoration: underline;
    color: FireBrick;
}
.clear-selected-imp{
    color: red;
    cursor: pointer;
    margin-left: 10px;
}
.cargo-separated{
    font-size: 25px;
    text-align: left;
    display: block;
}
.cargo-separated-label{
    font-style: italic;
    border-bottom: 1px solid #62BBB5;
}

/*END:Calc*/
/*Nav menu icon*/
nav.main-nav ul > li:first-child a svg{
    width: 25px;
    height: 25px;
}
nav.main-nav ul li.active.logged-in a svg g path {
    fill: black;
    transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
}
nav.main-nav ul a g path {
    fill: black;
}
nav.main-nav ul li.logged-in:hover path {
    fill: #62BBB5;
}
/*END: Nav menu icon*/
