@CHARSET 'UTF-8';

.title {
    margin-top: 0;
    margin-left: 0;
}

.companies-image {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 1100px;
}


.profile-photo {
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-right: 20px;
    vertical-align: middle;
}

.btn {
    margin-top: 20px;
}

/*btn remove photo*/

.btn-round {
    width: 40px;
    height: 40px;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.companies-image-wrap {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.companies-imageicon {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    transition: all 0.3s ease-in;
    outline: none;
    background-color: #ccc;
}

.companies-imageicon .glyphicon {
    color: #fff;
}

.companies-imageicon:hover {
    background: #b92c28;
}

.companies-image-wrap .companies-imageicon:focus {
    outline: none;
}
.clickable {
    position: relative;
    cursor: pointer;
}
.company-head .glyphicon {
    position: absolute;
    top: 39px;
    right: 0px;
    transform: rotate(90deg);
}
.clickable.opened .glyphicon {
    transform: rotate(0deg);
}

/*addon*/
.company-profile-row .list-group {
    margin-bottom: 30px;
    box-shadow: none;
}

.company-profile-employees-links {
    margin-bottom: 30px;
}

.company-profile-employees-link {
    font-size: 15px;
}

.company-profile-employees-links .company-profile-employees-link {
    display: block;
    margin-right: 12px;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    border: none;
    margin: 0;
    cursor: pointer;
    overflow: visible;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #62BBB5;
    border: 1px solid #62BBB5;
    color: #fff;
    transition: all 0.3s ease-in-out;
    background-image: none !important;
    flex: 0 0 320px;
    margin: 10px 15px !important;
}

.company-profile-employees-links .company-profile-employees-link:last-child {
     /*margin-bottom: 0px !important;*/
}


.company-profile-mainblock .panel-body {
    position: relative;
}

.company-profile-mainblock .panel-body span[class*="glyphicon-chevron"]{
    position: absolute;
    top: 0;
    right: 0;
}

.company-profile-mainblock .company-head-title {
    margin-top: 0;
    margin-bottom: 0;
}

.company-profile-mainblock .panel-body .panel.autocollapse {
    box-shadow: none;
}

.company-profile-heading-block{
	margin-bottom: 25px;
}

.profile-company-hidden-bodybtn-wrap {
    margin-bottom: 25px;
}

.profile-company-hidden-bodybtn {
    margin-top: 0;
}
/*END:addon*/

/* START: nav */

.window-profile-block {
    position: relative;
    display: block;
}

.nav-window-profile {
    display: none;
    padding: 10px;
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #d9d9d9;
    border-radius: 6px;
    z-index: 100;
    top: 35px;
}

.nav-window-profile-open {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.window-profile {
    display: block;
}

.window-profile .window-profile__open {
    display: block;
    position: relative;
    background: transparent;
    width: 30px;
    height: 25px;
    border: none;
    outline: none;
}

.window-profile .window-profile__open:focus {
    outline: none;
}

.window-profile .window-profile__open .icon-line_01,
.window-profile .window-profile__open .icon-line_02,
.window-profile .window-profile__open .icon-line_03 {
    display: block;
    position: absolute;
    width: 25px;
    height: 4px;
    background: #62bbb5;
    transform: translate(10%, 117%);
}

.icon-line_01 {
    top: 0;
    left: 0;
}

.icon-line_02 {
    top: 6px;
    left: 0;
}

.icon-line_03 {
    top: 12px;
    left: 0;
}



/* END: nav */