<form name="emEd.emailsList">
	<div ng-repeat = "(arrKey, email) in emEd.emailList" class="edit-profile-assets-list" novalidate>
	    <div class="input-group">
	    	<input type="email" class="form-control" ng-model = "email.email" required ng-class="{'ng-invalid': !email.isValid}">
	    	<div class="input-group-btn">
	    		<button class="btn btn-success" ng-click = "emEd.save(email, arrKey)">Save</button>
	    		<button class="btn btn-danger" ng-click = "emEd.del(email, arrKey)">Delete</button>
	    	</div>
	    </div>
		<div ng-hide="email.isValid">
			<div class="alert alert-danger">Error: {{email.validationFormServerMsg}}</div>
		</div>
	</div>
</form>
<form name="emEd.addNewEmail" novalidate>
    <div class="input-group">
    	<input type="email" class="form-control" name="newEmail" ng-model = "emEd.newEmail" required ng-trim="true">
    	<div class="input-group-btn">
    		<button class="assetsBtn-addNew btn btn-primary" ng-click = "emEd.addNew()">Add</button>
    	</div>
    </div>
	<div ng-show="emEd.addNewEmail.newEmail.$error.validationFormServer">
		<div class="alert alert-danger">Error: {{emEd.validationFormServerMsg}}</div>
	</div>
</form>