<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 '. $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath('css/style.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap.min.css')) ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/html5shiv.min.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>
    <body style="background: #e4e4e4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <?php
                    if ($this->flashMessenger()->hasCurrentSuccessMessages()) {//hasSuccessMessages()
                        echo '<div class="alert alert-info">';
                        $messages = $this->flashMessenger()->getCurrentSuccessMessages();
                        foreach($messages as $message) {
                            echo $message;
                        }
                        echo '</div>';
                    }
                    ?>

                    <?php
                    if ($this->flashMessenger()->hasCurrentErrorMessages()) {
                        echo '<div class="alert alert-danger">';
                        $messages = $this->flashMessenger()->getCurrentErrorMessages();
                        foreach($messages as $message) {
                            echo $message;
                        }
                        echo '</div>';
                    }
                    ?>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-12">
                        <h2>Menu</h2>
                        </p><a class="btn btn-primary btn-sm" href="<?= $this->url('service'); ?>">Service</a>
                        <br><br>
                        <a class="btn btn-primary btn-sm" href="<?= $this->url('service-room'); ?>">Room</a>
                    </div>
                </div>
                <div class="col-md-9" style="border-left: 2px groove #ffffff">
                    <?php echo $this->content; ?>

                </div>
            </div>



        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
