<div class="main-basis">

    <div class="main-basis-right">
    	<h2 class="h2">About</h2>
        <p>World Freight Rates: where Logistics Transparency = Knowledge and Power
        </p>
        <p>World Freight Rates was founded on the simple principle of helping people get all of their logistics information (shipping rates, warehousing costs, news, transportation companies, etc..) in one place, so they could quickly and easily take actionable decisions.
        </p>
        <p>Since the vast majority of shipments are done by people who do so as a side function of their primary responsibilities (like selling goods or manufacturing products), we wanted to help people be as effective as possible in resolving all things shipping.
        </p>
        <p>Whether it’s using one of our calculators to estimate market rates, the news aggregator to access the latest information, finding a person to help you answer questions, or use exchange to get carriers and freight forwarders to respond to your needs, WFR is here to help.
        </p>

    </div>
</div>