<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>

<?php $this->headLink()
    ->appendStylesheet($this->basePath('/css/form_contact.css')); ?>

<div class="main-basis">

    <div class="main-basis-right">
        <h2 class="h2"><?php echo $this->translate('Карьера') ?> </h2>

        <p><?php echo $this->translate(
            "ACEX24 - быстро развивающаяся\n
            логистическая информационная компания с\n
            более чем двадцатилетним опытом в сфере\n
            логистики. Предлагаемый сервис, который мы\n
            развиваем, в корне перевернет мир логистики,\n
            чтобы лучше обслуживать миллионы\n
            пользователей, которые остаются\n
            недовольными современными реалиями\n
            индустрии. Со штаб-квартирой в Москве,\n
            Россия, мы - частная компания, работающая,\n
            чтобы помочь бизнес-компаниям и частным\n
            лицам стать более продуктивными и\n
            квалифицированными."
        ); ?>
        </p>

        <p><?php echo $this->translate(
            "Наша команда разнообразна, сильно\n
            мотивирована, трудолюбива и позитивно\n
            конкурентноспособна. Мы создали счастливый,\n
            быстро растущий, крепкий стартап рабочего\n
            пространства, который стремится к\n
            удовлетворению наших высоких внутренних\n
            ожиданий. Кандидаты должны быть\n
            увлеченными перфекционистами, которые не\n
            остановятся ни перед чем, чтобы прекрасно\n
            выполнить свою работу. Иные нам не подходят."
        ); ?>
        </p>

        <p><?php echo $this->translate("Свяжитесь с нами, если Вы заинтересовались\nработой в нашей команде."); ?></p>

        <div>
            <?php $this->getNotificationHelper(); ?>
        </div>
        <?php
        /** @var \Voodoo773Localization\Form\CareerForm $form */
        $form = $this->form;
        $form->prepare();
        $form->setAttribute('method', 'post');
        $form->setAttribute('action', $this->url('localization/careers', ['lang' => $this->lang()]));
        ?>
        <?php echo $this->form()->openTag($form); ?>
        <div class="form-holder">
            <div class="form-group">
                <div class="input-title">
                    <label><?php echo $this->translate('Имя') ?></label>
                </div>
                <?php echo $this->formRow($form->get('name')); ?>
            </div>
            <div class="form-group">
                <div class="input-title">
                    <label>Email</label>
                </div>
                <?php echo $this->formRow($form->get('email')); ?>
            </div>
            <div class="form-group">
                <div class="input-title">
                    <label><?php echo $this->translate('Комментарий') ?></label>
                </div>
                <?php echo $this->formRow($form->get('comment')); ?>
            </div>
            <div class="input-group">
                <span class="input-group-btn">
                    <?php echo $this->formRow($form->get('submit')); ?>
                </span>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>

<script>
    $(function () {
        var form = $('#Career');
        form.validate();
        $('#submit').on('click', function () {
            if (!form.valid()) {
                return false;
            }
            $(this).css({
                'background-color': '#fbe5d6',
                'border-color': '#fbe5d6',
                'color': '#000'
            }).text('<?php echo $this->translate('Идет отправка...'); ?>');
        });
    });
</script>