<div class="main-basis">
	
	<h2 class="h2"><?php echo $this->translate("Resources and Tools")?></h2>

	<p><?= $this->translate('Welcome to our Resources and Tools Page. Here we try to provide you information that you may search for on the web as part of your daily routine, in one easy to find place. This includes Research and Statistics links, Associations and Trade Group Links, and Various Calculators.'); ?></p>
	<p><?= $this->translate('If you don’t find what you are looking for, drop us a line in the feedback tab and we will work quickly to have whatever you need at your disposal, as soon as possible.'); ?></p>
    
</div>
