<div class="main-basis">
    <div class="main-basis-right main-basis-bg">
        <div class="main-basis-left main-basis-registration">

          <a href="<?php echo $this->url('zfcuser/register', [
              'lang' => $this->lang(),
          ]); ?>">

            <span><?php echo $this->translate('Начните пользоваться ACEX24'); ?></span>
            <?php if (!$this->zfcUserIdentity()) : ?>
            <a href="<?php echo $this->url('zfcuser/register', [
                'lang' => $this->lang(),
            ]); ?>"><?php echo $this->translate('Регистрация'); ?><i>&rarr;</i></a>
            <?php endif; ?>

          </a>

        </div>
    </div>
</div>
