<?php echo $this->doctype(); ?>
<html lang="<?= $this->lang(); ?>">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" /> 

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>
        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
            ->prependStylesheet($this->basePath('css/main.css'))
            ->prependStylesheet($this->basePath('css/jquery-ui.min.css'))
            ->prependStylesheet($this->basePath('css/style.css'))
        ?>
        <!-- Scripts -->
        <?php echo $this->headScript()
			->prependFile($this->basePath('js/validate/localization/messages_'.$this->lang().'.min.js'))
			->prependFile($this->basePath('js/validate/jquery.validate.min.js'))
            ->prependFile($this->basePath('js/jquery-ui.min-1.11.4.js'))
            ->prependFile($this->basePath('js/jquery.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/html5shiv.min.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>
    </head>
    <body>
	
        <div class="wrapper">
            <?= $this->content; ?>
        </div>
        <?= $this->inlineScript() ?>
    </body>
</html>