<div class="col-md-12">
    <h2><?= $data['title'] ?></h2>
    <a class="btn btn-sm btn-success" href="<?= $this->url('service-room/new') ?>">New</a><br><br>
</div>

<div class="col-md-8">
    <?php
    if (!empty($data['service'])) {
        foreach ($data['service']['list'] as $service => $rooms) {
            ?>
            <div class="row">
                <div class="col-md-6">
                    <div class="well well-sm">
                    <span style="color: <?= $rooms['active'] ? '#5cb85c' : '#428bca' ?> ;">
                        <?= $service ?>
                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <?php foreach ($rooms['room'] as $room) { ?>
                        <div class="well well-sm">
                            <a style="color: <?= $room['active'] ? '#5cb85c' : '#428bca' ?> ;"
                               class="brand-primary"
                               href="<?= $this->url('service-room/item', ['hash' => $room['hash']]); ?>"
                            >
                                <?= $room['nameRoom'] ?>
                                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
                            <a href="<?= $this->url('service-room/item/connect', ['hash' => $room['hash']]); ?>"><span class="glyphicon glyphicon-tags"></span></a>
                        </div>



                    <?php } ?>

                </div>


            </div>
            <?php
        }
    }
    ?>
</div>


<?php
if (!empty($data['service'])) {
    foreach ($data['service']['list'] as $service => $rooms) {
        ?>

        <div class="col-md-4">
            <?php foreach ($rooms['room'] as $room) {
                if ($room['active']) {
                    ?>
                    Hash: <?= $room['hash'] ?><br>
                    Name: <?= $room['nameRoom'] ?><br>
                    <hr><a class='btn btn-primary'
                           href="<?= $this->url('service-room/edit', ['hash' => $room['hash']]) ?>">Edit</a>
                    <a class='btn btn-danger'
                       href="<?= $this->url('service-room/delete', ['hash' => $room['hash']]) ?>">Delete</a>

                <?php }
            } ?>

        </div>


        <?php
    }
}
?>

