
        <div class="col-md-12">
            <h2><?= $data['title'] ?></h2>

        </div>

        <div class="col-md-4">
            <?php
            if ($data['service']) {
                foreach ($data['service']['list'] as $service) {
            ?>
                    <div class="well well-sm">
                        <a style="color: <?= $service['active']? '#5cb85c' : '#428bca' ?> ;"
                           class="brand-primary"
                           href="<?= $this->url('service/edit',['id'=>$service['id']]); ?>"
                        ><?=$service['name']?>
                            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                        </a>

                    </div>
            <?php
                }
            }
            ?>
        </div>

        <div class="col-md-8">
            <?php
            if(isset($data['service']['form'])) {
                $form = $data['service']['form'];
                $form->prepare();

                if ($form) {
                    echo $this->form()->openTag($form);
                    ?>
                    <?=$this->formElementErrors($form->get('name'));?>
                    <?php
                    echo $this->formLabel($form->get('name')) ." ".$this->formElement($form->get('name')). "<br/>";
                    echo $this->formElement($form->get('edit'));

                    ?>

                    <?php
                    echo $this->form()->closeTag();
                }
            }
            ?>
        </div>


