<div class="col-md-12">
    <h2><?= $data['title'] ?></h2>
    <a class="btn btn-sm btn-success" href="<?= $this->url('service/new') ?>">New</a><br><br>
</div>

<div class="col-md-4">
    <?php
    if ($data['service']) {
        foreach ($data['service']['list'] as $service) {
            ?>
            <div class="well well-sm">
                <a style="color: <?= $service['active'] ? '#5cb85c' : '#428bca' ?> ;"
                   class="brand-primary"
                   href="<?= $this->url('service/item', ['id' => $service['id']]); ?>"
                ><?= $service['name'] ?>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>

            </div>
            <?php
        }
    }
    ?>
</div>

<div class="col-md-8">
    <?php
    if (isset($data['service']['show'])) {
        $show = $data['service']['show'];
        if ($show) {
            echo "Id: " . $show->getId() . "<br>";
            echo "Name: " . $show->getName();

            echo "<hr><a class='btn btn-primary' href=" . $this->url('service/edit', ['id' => $show->getId()]) . ">Edit</a>";
            echo " <a class='btn btn-danger' href=" . $this->url('service/delete', ['id' => $show->getId()]) . ">Delete</a>";
        }
    }
    ?>

</div>


