<div class="content forgot-password">
	<h1 class="page-title"><?php echo $this->translate('Forgot password'); ?></h1>
	<?php
	$form = $this->forgotForm;
	$form->prepare();
	$form->setAttribute('action', $this->url('zfcuser/forgotpassword', ['lang' => $this->lang()]));
	$form->setAttribute('method', 'post');
	$form->setAttribute('class', 'auth-form');
	?>

	<?php echo $this->form()->openTag($form) ?>

	<div class="elements-group">
		<?php echo $this->formElementErrors($form->get('email')); 
		$emailElement = $form->get('email');
		$emailElement->setAttribute('class', 'form-element');
		$emailElement->setAttribute('placeholder', $this->translate('Email'));
		$emailElement->setLabel('');
		echo $this->formRow($emailElement);
		?>
	</div>
	<div class="elements-group">
		<?php $submit = $form->get('submit');
		$submit->setAttribute('class', 'submit-btn');
		$submit->setValue('s');
		echo $this->formRow($submit); ?>
	</div>
	<?php echo $this->form()->closeTag() ?>

	<a href="<?php echo $this->url('zfcuser/login', ['lang' => $this->lang()]) ?>"><?php echo $this->translate('Back to login'); ?></a>

</div>