<div class="content password-changed">
	<h3 class="page-title">
		<?php echo $this->translate('Your password has been changed.'); ?>
	</h3>
	
	<p><?php echo $this->translate('You can now login using your new password.') ?></p>
	
	<a href="<?php echo $this->url('zfcuser/login', ['lang' => $this->lang()]) ?>"><?php echo $this->translate('Back to login.'); ?></a>
</div>